<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
    </style>
</head>
<body>
    <form action="/signup" method="post">
        <h2>Sign Up</h2>
        <p>
            <label for="username" class="floatLabel">username</label>
            <input id="username" name="username" type="username">
            
        </p>
              <p>
                  <label for="Email" class="floatLabel">Email</label>
                  <input id="Email" name="Email" type="text">
              </p>
              <p>
                  <label for="password" class="floatLabel">Password</label>
                  <input id="password" name="password" type="password">
                  
              </p>
            
              <p>
                  <input type="submit" value="Create My Account" id="submit">
              </p>
          </form>
</body>
</html>