<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {font-family: Arial, Helvetica, sans-serif;}
        * {box-sizing: border-box;}
        
        input[type=text], select, textarea {
          width: 100%;
          padding: 12px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          margin-top: 6px;
          margin-bottom: 16px;
          resize: vertical;
        }
        
        input[type=submit] {
          background-color: #04AA6D;
          color: white;
          padding: 12px 20px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }
        
        input[type=submit]:hover {
          background-color: #45a049;
        }
        
        .container {
          border-radius: 5px;
          background-color: #f2f2f2;
          padding: 20px;
        }
        </style>
</head>
<body>
    
    <h1>Task Form</h1>

    <div class="container">

      <form method="post" action="/todo" name="frm">
        <label for="fname">Task Name</label>
        <input type="text" id="taskname" name="taskname" placeholder="Add Task..">
    
        
    
        <label for="assignto">Assign To</label>
        <select id="assignto" name="assignto">
          <option value="hrishikesh">Hrishikesh</option>
          <option value="Manish">Manish</option>
          <option value="darshan">Darshan</option>
          <option value="ashutosh">Ashutosh</option>
        </select>
        <select id="status" name="task_status">
          <option value="On Hold">On Hold</option>
          <option value="Done">Done<option>
          <option value="On Progress">On Progress</option>
          <option value="Backlog">Backlog</option>
        </select>
      <input type="submit" value="Submit">
    </form> 

      
    </div>

</body>
</html>